<section class="container prospects">
  <div class="prospects__icon-container">
    <img src="/images/brandenburger_tor.png" class="prospects__icon" alt="" />
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <h1 class="prospects__heading prospects__main-heading">What's in the pot for you?</h1>
      <p class="prospects__intro">Ever thought about how much a software developer with your skills earns in Berlin?</p>
      <ul class="prospects__steps">
        <%= render partial: "prospect_step", locals: {
          number: '01',
          heading: 'Send us your GitHub & LinkedIn',
          text: 'We analyze your code skills and your work experience to calculate your worth in Berlin.'
          } %>
        <%= render partial: "prospect_step", locals: {
          number: '02',
          heading: 'Receive a free salary report',
          text: '... which wil contain a salary band based on your profile and the current job market in Berlin.'
          } %>
        <%= render partial: "prospect_step", locals: {
          number: '03',
          heading: 'Show me the honey!',
          text: 'Knowing your worth you can renegotiate your current salary or find a new job.'
          } %>
      </ul>
    </div>
    <div class="col-md-4 prospects__form">
      <%= form_for(@prospect) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group prospects__form-group">
          <%= f.label :email, "Email address", class: 'prospects__label' %><span class="text-danger">*</span>
          <%= f.email_field :email, placeholder: "you@example.com", class: 'form-control' %>
        </div>

        <div class="form-group prospects__form-group">
          <%= f.label "Profile", class: 'prospects__label' %><span class="text-danger">*</span>
          <%= f.text_field :profile_link, placeholder: "LinkedIn profile", class: 'form-control prospects__input-top' %>
          <%= f.text_field :dev_link, placeholder: "GitHub profile", class: 'form-control prospects__input-bottom' %>
        </div>

        <%= f.submit "Estimate my salary", class: 'btn btn-primary prospects__btn' %>
      <% end %>
      <p class="prospects__info">
        <strong class="prospects__emphasis">How do we know?</strong> Here at Honeypot we are pretty knowledgable about what developers in Berlin are earning and
      - more importantly - what developers in Berlin should be earning.
      </p>

    </div>
  </div>
</section>
