<section class="container prospects">
  <div class="row">
    <div class="col-md-6">
      <h1 class="prospects__heading prospects__main-heading">What's in the pot for you?</h1>
      <p>Ever thought about how much a software developer with your skills earns in Berlin?</p>
    </div>
    <div class="col-md-6">
      <%= form_for(@prospect) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :email, "Email address"%>
        <%= f.email_field :email, placeholder: "you@example.com" %>

        <%= f.label "Profile" %>
        <%= f.text_field :profile_link, placeholder: "Linkedin profile" %>
        <%= f.text_field :dev_link, placeholder: "Github profile" %>

        <%= f.submit "Estimate my salary", class: 'btn btn-primary' %>
      <% end %>
      <p><strong>How do we know?</strong> Here at Honeypot we are pretty knowledgable about what developers in Berlin are earning and
      - more importantly - what developers in Berlin should be earning. </p>

    </div>
  </div>
</section>
